<div class="container">
    <h1 class="text-center">Recipe Finder</h1>
   <div>
    <p class="text-center">Type the name of the recipe into the searchbar below</p>
   </div>
 
   
    <Form>
      <div class="form-group">
        <input type="text" name="food-name" class="form-control" #foodname placeholder="Enter a recipe here"> 
      </div>
      <button class="btn btn-primary mt-2" type="submit">Get Recipe</button>
    </Form>
      <!--
      <button (click)="getFoodDetails(foodname.value)" type="submit" class="btn btn-primary mt-2">Get Recipt Details </button>
   
  
    <div class="row bg-light mt-4 p-4" *ngfor="foodData">
      <div class="col-sm-4">
        <div>
           <h3>{{foodData?.error}}</h3>  
      </div>
      <div *ngIf="foodData?.Title"></div>
      <img src="{{foodData?.Poster}}" alt="Food Image">
    </div>
  </div>
  <div class="col-sm-8">
    <div *ngIf="foodData?.Title">
      <h1>{{foodData?.Title}}</h1>
    </div>

   
   -->

