
<!--  <app-searchtitle></app-searchtitle> -->
<!--Header-->
<div class="padding">
<div class="border border-success">
<div class="header">
  <h1 class="text-center">Recipe Finder</h1> 
</div>
</div>
</div>
<!--Nav-->
<div class="text-center"> 
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">     
    <ul class="navbar-nav">

      <div class="text-center">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/pagetwo">Find Recipe</a></li>
      <li class="nav-item"><a class="nav-link" href="/database-page">Sign Up for more</a></li>
      </div>
    
    </ul> 
  </div>
  </div>
  </nav>
</div>
</div>
<div class="padding">
<!--Body-->
<div class="body">
<div class="border border-success">
  <h2 class="text-center">Why should you use Recipe Finder?</h2>
  <p class="text-center">Recipe Finder is the fastest and easiest way to locate the recipes you want and need.</p>

  <h2 class="text-center">Is Recipe Finder good?</h2>
  <p class="text-center">We know people who love to cook, and they love using our website as they find it easy to use and 
    it provides them exactly what they are looking for.
  </p>
</div>
</div>

<!--Routing websites Here-->
<div class="font">
<div class="paddingTop">
<div class="border border-success">
  <div class="routing">
  <router-outlet></router-outlet>
</div>
</div>
</div>
</div>

